* {

  box-sizing: border-box;
}


form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 27%;
  background: #f1f1f1;
  border-right:none;
  margin-left:500px;
}


form.example button {
  float: left;
  width: 5%;
  padding: 10px;
  
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}


form.example::after {
  content: "";
  clear: both;
  display: table;
}
#mySearch {
  width: 42%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
  margin-top: 1%;
  margin-left:500px;
  

}


.box{
  border: 1px solid ;
  width: 32%;
  font-size: 18px;
  
  border: 1px solid #ddd;
  margin-top: 1%;
  height:130px;
  margin-left: 500px;
  display: flex;

}
 
.sec{
  border: 1px solid;
  width: 38% ;
  font-size: 18px;
  
  border: 1px solid #ddd;
  
  margin-top: 1.5%;
  margin-left:1.5%;
  height:110px;
  
}
.imag{
  object-fit: fill;
  width:100%;
  height: 100%;
}
.thir{
  
  flex-grow: .6;
  height:130px;
  

  
}
#head{
  width: 30%;
  font-size: 18px;
  padding: 11px;
  
  
  margin-left:490px;
}
.cn{
  font-size: 15px;

  padding-left: 10px;
}
.cne{
  font-size:13px;
  margin-top: -2px;
  padding-left: 10px;
}
.cned{
  font-size: 13px;
  margin-top:4px;
  padding-left:10px;
}

.six{
  display: flex;
  margin-top: 10px;
  
}

.four{
  border: 2px solid blue;
  width:40%;
  height:30px;
  margin-left: 10px;
  display:flex;
  text-align: center;

}
.five{
  border: 2px solid blue;
  width:40%;
  height:30px;
  margin-left: 15px;
  display:flex;
  text-align:center;
}

.sh{
  font-size:15px;
  padding-left:15px;
  padding-top: 5px;
  
  color:blue;
  padding-bottom: 20px;
  position: relative;
  text-decoration: none;
  
   

}
.dd{
  font-size:15px;
  padding-left:25px;
  padding-top: 5px;
  text-align: center;
  color:blue;
  padding-bottom:20px ;
  position:relative;
  text-decoration:none;
 } 
#first{
  width:80%;
  
  margin:3rem;
  display:flex;

}
#second{

  width:40%;

  margin-top:20px;
  
  
  
}
#third{
  
  
  margin-left:5px;
  margin-top:65px;
  
}
.class{
  display:inline-block;
  margin-top:40px;
  font-size: 20px;
  
}
#image{
  margin-top: 10Px;
  height:60%;
  width:80%;
}
#name{
  
  font-size: 20px;
}
.fo{
  font-size:15px;
  padding-top: 10px;
}
.neighbour{
  margin-left: 3rem;
  font-size: 20px;
  border:1px solid rgb(110, 107, 107);
  width:50%;
  font-weight: bold;
  height:100%;
  
}
.hene{
  padding-left: 20px;
}
.hened{
  margin-top:40px;
  
  
  width:99%;
  display:flex;
  flex-wrap: wrap;
  

}
.neimg{
  height:110px;
  width:30%;
  margin-left:20px;
  margin-top:10px;
}
@media only screen and (max-width:1115px)
{
  .box{
      width:32%;
  }
  form.example input{
      width:23%;
  }
  form.example button{
      width: 5%;
  }
  

}
@media only screen and (max-width:1038px)
{
  
  .box{
      width:36%;
  }
  form.example input{
      width:25%;
  }
  form.example button{
      width: 5%;
  }
  .sh{
    padding-left: 5px;
  }
  

}
@media only screen and (max-width:877px)
{
  
  .box{
      width:38%;
  }
  form.example input{
      width: 27%;
  }
  form.example button{
      width: 5%;
  }
  .four{
    width:42%;
  }
  

}

@media only screen and (max-width: 864px)
{
  
  .box{
      width:42%;
      margin-left: 400px;
  }
  form.example input{
      width:33%;
    
  }
  form.example button{
      width: 7%;
  }
  #head{
    margin-left: 400px;
  }
  #myInput{
    margin-left: 400px;
    width :35%;
  }
  
  

}
@media only screen and (max-width:729px)
{
  
  .box{
     margin-left:300px

  }
  #myInput{
      margin-left: 300px;
  }
  #head{
    margin-left: 300px;
  }

}
@media only screen and (max-width:674px)
{
  
  .box{
      margin-left: 200px;
      width:46%
  }
  #myInput{
    margin-left:200px;
    width:39%;
    
  }
  #head{
    margin-left:200px;
  }

  

}
@media only screen and (max-width: 619px)
{
  
  .box{
      width:52%;
      margin-left:200px;
  }
  
  #myInput{
      margin-left:200px;
      width:45%;
  }
  #head{
      margin-left:200px;
  }
  

}


@media only screen and (max-width: 549px)
{
  
  .box{
      width:56%;
      margin-left:100px;
  }
 
  #myInput{
      margin-left:100px;
      width:49%;
  }
  #head{
      margin-left:100px;
  }
  

}

@media only screen and (max-width: 467px)
{
  
  .box{
      width:60%;
      margin-left:10px;
  }
  
  #myInput{
      margin-left:10px;
      width:53%;
  }
  #head{
      margin-left:10px;
  }
  

}
@media only screen and (max-width: 436px)
{
  
  .box{
      width:64%;
      margin-left:10px;
  }
  
  form.example button{
      width: 9%;
      
  }
  #myInput{
      margin-left:10px;
      width:55%;
  }
  #head{
      margin-left:10px;
  }
  

}

@media only screen and (max-width: 415px)
{
  
  .box{
    width:68%;
    margin-left:10px;
}

form.example button{
    width: 11%;
    
}
#myInput{
    margin-left:10px;
    width:58%;
}
#head{
    margin-left:10px;
}

}


@media only screen and (max-width: 373px)
{
  
  .box{
    width:74%;
    margin-left:10px;
}

form.example button{
    width: 13%;
    
}
#myInput{
    margin-left:10px;
    width:61%;
}
#head{
    margin-left:10px;
}

}



@media only screen and (max-width: 353px)
{
  
  
  .sh{
    font-size: 12px;

  }
  .dd{
    font-size: 12px;
  }

}


@media only screen and (max-width: 280px)
{
  
  .box{
      flex-direction: column;
      height:180px;
  }
  
  

}



@media only screen and (max-width: 240px)
{
  
  .box{
      height:320px;
  }
  .six{
    flex-direction: column;
  }
  .five{
    margin-top: 10px;
    margin-left: 9px;
  }
  .dd{
    padding-left: 10px;
  }

  
  

}
@media only screen and (max-width: 221px)
{
  
  .four{
    width:46%;
  }
  .five{
    width:46%;
  }

}

@media only screen and (max-width: 216px)
{
  
  .four{
    width:55%;
  }
  .five{
    width:55%;
  }

}
@media only screen and (max-width: 186px)
{
  
  .four{
    width:62%;
  }
  .five{
    width:62%;
  }
  
  

}


@media only screen and (max-width: 171px)
{
  
  .four{
    width:70%;
  }
  .five{
    width:70%;
  }

}
@media only screen and (max-width: 167px)
{
  
  .four{
    width:90%;
  }
  .five{
    width:90%;
  }
  .box{
     height:370px;
  }

}
@media only screen and (max-width: 1120px)
{
  
 #first{
     flex-direction: column;
     
 }

}

@media only screen and (max-width: 266px)
{
  
  #image{
    width:100%;

  }
  .hene{
    padding-left: 5px;
  }

}

@media only screen and (max-width: 237px)
{
  
 .box{
     flex-direction: column;
     height:280px;
 }

 .sh{
     font-size: 10px;
 }
 .dd{
     font-size: 10px;
 }

}

@media only screen and (max-width: 233px)
{
  #first{
    margin-left: 5px;
  }
  .neighbour{
    margin-left: 5px;
  }
  .hene{
    font-size: 15px;
  }
 


}
@media only screen and (max-width: 183px)
{
  
  .hene{
    font-size: 10px;
  }
 


}